<div class="block-wrapper">
    <!-- <block-header></block-header> -->
    <block-main [item]="main"></block-main>
    <block-card title="Выбирайте сами, как хотите учиться" [cards]="cards"></block-card>
    <block-card title="Направления" [cards]="cardsImage" withImage="true"></block-card>
    <block-show-room [item]="showRoom"></block-show-room>
    <block-card-review title="Вот что о нас говорят..." [cards]="reviewCards"></block-card-review>
    <!-- <block-gallery title="Основатели" [images]="gallery"></block-gallery> -->
    <!-- <block-video title="Выступай и записывайся" [videos]="videos"></block-video> -->
    <block-form [item]="form"></block-form>
    <block-map></block-map>
    <block-footer></block-footer>
</div>