<div class="sm-container">
    <div class="contacts">
        <div class="sm-font-h1 sm-bold-h">
            Контакты
        </div>
        <div>
            <div class="title sm-font-p1 sm-bold-p">Адрес</div>
            <div class="sm-font-p3">Нижний Новгород, пл. Максима Горького, д. 1</div>
        </div>
        <div>
            <div class="title sm-font-p1 sm-bold-p">Время работы</div>
            <div class="sm-font-p3"><span>Пн—Пт:</span> 10:00—19:00</div>
            <div class="sm-font-p3"><span>Сб—Вс:</span> выходные</div>
        </div>
        <div>
            <div class="title sm-font-p1 sm-bold-p">Для связи</div>
            <div class="sm-font-p3">8 904 041-00-46</div>
            <div class="sm-font-p3">space-music-school@yandex.ru</div>
        </div>
    </div>
    
    <div class="map">
        <ya-map [center]="[56.315700, 43.992251]" [zoom]="15">
            <ya-placemark [geometry]="[56.315700, 43.992251]"></ya-placemark>
        </ya-map>
    </div>
</div>