@import url(../../shared);

.sm-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    flex: 1;

    color: @color-base-2;
}

.contacts {
    flex: 1;

    .title {
        margin-top: 40px;
        margin-bottom: 16px;

        &:first-child {
            margin-top: 48px;
        }
    }
}

.map {
    flex: 1;

    border-radius: 16px;

    ::ng-deep ymaps {
        border-radius: 16px;
    }
}


.tui-text_body-l {
    color: @color-text-2;
    margin-top: 8px;

    span {
        color: @color-text-3;
    }
}
