<div class="sm-container">
    <div class="contacts">
        <div class="sm-font-h1 sm-bold-h">
            Контакты
        </div>
        <div class="subtitles">
            <div>
                <div class="title sm-font-p1 sm-bold-p">Адрес</div>
                <div class="sm-font-p3">Нижний Новгород, пл. <br class="tablet-line"> Максима Горького, д. 1</div>
            </div>
            <div>
                <div class="title sm-font-p1 sm-bold-p">Время работы</div>
                <div class="sm-font-p3"><span>Пн—Пт:</span> 10:00-21:00</div>
                <div class="sm-font-p3"><span>Сб—Вс:</span> 10:00-22:00</div>
            </div>
            <div>
                <div class="title sm-font-p1 sm-bold-p">Для связи</div>
                <div class="sm-font-p3"><a tuiLink
                    icon="tuiIconCall"
                    iconAlign="left" 
                    href="tel:+79040410046">8 904 041-00-46</a></div>
                <div class="sm-font-p3"><a tuiLink
                    icon="tuiIconUsers"
                    iconAlign="left" 
                    target="_blank"
                    href="https://vk.com/spacemusicschool">VK</a></div>
            </div>
        </div>
    </div>
    
    <div class="map">
        <ya-map [center]="[56.315700, 43.992251]" [zoom]="15">
            <ya-placemark [geometry]="[56.315700, 43.992251]"></ya-placemark>
        </ya-map>
    </div>
</div>