<div class="wrapper">
    <div class="contacts">
        <div class="tui-text_h1">
            Контакты
        </div>
        <div>
            <div class="title tui-text_h6">Адрес</div>
            <div class="tui-text_body-l">Нижний Новгород, пл. Максима Горького, д. 1</div>
        </div>
        <div>
            <div class="title tui-text_h6">Время работы</div>
            <div class="tui-text_body-l"><span>Пн—Пт:</span> 10:00—19:00</div>
            <div class="tui-text_body-l"><span>Сб—Вс:</span> выходные</div>
        </div>
        <div>
            <div class="title tui-text_h6">Для связи</div>
            <div class="tui-text_body-l">8 904 041-00-46</div>
            <div class="tui-text_body-l">space-music-school@yandex.ru</div>
        </div>
    </div>
    
    <div class="map">
    
    </div>
</div>