<div class="sm-container wrapper">
    <div class="title sm-font-h1 sm-bold-h">
        {{title}}
    </div>
    
    <div class="cards" >
        <tui-carousel [draggable]="true" [itemsCount]="caruseleSize">
            <ng-container *ngFor="let card of cards">
                <div *tuiItem>
                    <a class="island"
                        size="l"
                        tuiIsland
                        [hoverable]="true">
                        <div class="wrapper">
                            <div class="text">
                                <figure class="tui-island__figure">
                                    <div class="some-figure"></div>
                                </figure>
                                <div class="text-block sm-bold-p">
                                    <h3 class="title sm-font-h4">
                                        &ldquo;
                                    </h3>
                                    <p class="description sm-font-p2">
                                        {{card.discription}}
                                    </p>
                                </div>
                                <div *ngIf="card.comment">
                                    <tui-svg src="tuiIconMastercard"></tui-svg>
                                    <span>{{card.comment.author}}</span>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </ng-container>
        </tui-carousel>
    </div>
</div>
