@import url(../../shared);

.sm-container {
    border-radius: 40px;
}

.wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    .title {
        display: flex;
        justify-content: left;
        width: 100%;

        // margin-top: 80px;
    }

    .cards {
        .description {
            margin-bottom: 40px;
        }

        ::ng-deep .t-wrapper {

            padding-top: 40px;
        }
    }
}

tui-carousel {
    display: flex;

    ::ng-deep .t-item:last-child {
        padding: 0;
    }
    
    ::ng-deep .t-item:not(:last-child) {
        padding: 0 24px 0 0;
    } 
} 
