@import url(../../shared);

.sm-container {
    border-radius: 40px;
}

.wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    .title { // nothing
        display: flex;
        justify-content: left;
        width: 100%;

        // margin-top: 80px;
    }

    .text-block {
        height: 300px;
    }

    .cards {
        width: 100%;

        .description {
            height: 76%;
            margin-bottom: 40px;
            overflow: hidden;
        }

        ::ng-deep .t-wrapper {

            padding-top: 40px;
        }

        .item {
            width: 200px;
        }

        .footer {
            display: flex;
            justify-content: space-between;

            .author {
                display: flex;
                align-items: center;

                &_name {
                    margin-left: 20px;
                }
            }
        }
    }
}

.button_close {
    display: flex;
    justify-content: end;
}

.dialog_image {
    height: 400px;
    width: 100%;
    background-size: cover;
    margin-bottom: 20px;
}

tui-carousel {
    display: flex;

    ::ng-deep .t-item:last-child {
        padding: 0;
    }
    
    ::ng-deep .t-item:not(:last-child) {
        padding: 0 24px 0 0;
    } 
} 
