@import url(../../shared);

.sm-container {
    border-radius: 40px;

    height: 50vh;

    min-height: 400px;

    &-image {
        min-height: 570px;
    }
}

.wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    min-height: 400px;
    margin-top: 30px;

    &-image {
        min-height: 570px;
        margin-top: 0;

        .title {
            // margin-top: 17px;
        }

        .cards {
            margin-top: 100px;
        }
    }

    .title {
        display: flex;
        justify-content: left;
        width: 100%;

        // margin-top: 80px;
    }

    .cards {
        display: flex;
        align-items: center;
        justify-content: space-between;

        flex: 1;
        width: 100%;
        // margin-bottom: 100px;
        // margin-top: 66px;

        .card {
            flex: 1;
            height: 100%;

            &:not(:last-child) {
                margin-right: 24px;
            }
        }
    }
}
