@import url(../../shared);

.sm-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: stretch;

    height: 80vh;
}

.title {

}

.images {
    flex: 1;
    display: flex;
    flex-direction: row;
    align-items: stretch;

    max-height: 540px;

    margin-top: 40px;

    .image {
        flex: 1;
        border-radius: 16px;

        padding: 32px 24px;
    
        &:not(:last-child) {
            margin-right: 24px;
        }
    }
}
