<div *ngIf="item" class="sm-container wrapper">
    <div class="text">
        <div class="title sm-font-h1 sm-bold-h">{{item.title}}</div>
        <div class="description sm-font-p1">{{item.discription}}</div>
    </div>

    <form [formGroup]="form" class="form">
        <tui-input class="b-form input" formControlName="name">
            Имя
        </tui-input>
        <tui-input-phone class="b-form input" formControlName="phone">
            Телефон
        </tui-input-phone>
        <tui-select class="b-form input" formControlName="line">
            Направление
            <tui-data-list-wrapper
                *tuiDataList
                [items]="lines"
            ></tui-data-list-wrapper>
        </tui-select>
        <button tuiButton
                class="b-form button"
                size='l'
                (click)="onSubmit()">{{item.buttonTitle}}</button>
    </form>
</div>
