<div *ngIf="item" class="wrapper">
    <div class="text">
        <div class="title sm-font-h1 sm-bold-h">{{item.title}}</div>
        <div class="description sm-font-p1">{{item.discription}}</div>
    </div>

    <form [formGroup]="form" class="form">
        <tui-input class="b-form" formControlName="name">
            Имя
        </tui-input>
        <tui-input class="b-form" formControlName="phone">
            Телефон
        </tui-input>
        <button class="b-form button" tuiButton size='l'>{{item.buttonTitle}}</button>
    </form>
</div>
