@import url(../../shared);

.sm-container {
    display: flex;
    justify-content: space-between;

    color: black;

    background-color: @background-base-2;
    border-radius: 40px;

    @media @mobile {
        padding-right: 0;
    }

    @media @tablet-line {
        flex-direction: column;
    }

    @media @desktop-line {
        align-items: center;
        height: 75vh;
    }
}

.title {
    flex: 1;

    .discription {
        color: @color-logo;
    }
}

.images {
    display: flex;
    height: 100%;

    @media @tablet {
        margin-top: 40px;
    }

    @media @desktop-line {
        width: 43%;
    }

    .image {
        display: flex;
        align-items: end;
        flex: 1;

        padding: 12px;
        padding-bottom: 20px;
        border-radius: 16px;
        color: @color-base-2;

        @media @mobile {
            height: 100%;
        }
    }

    .image-1 {
        background: linear-gradient(218.48deg, rgba(0, 0, 0, 0.24) 43.26%, rgba(12, 12, 12, 0.74) 74.04%), url(/assets/show-room/room-1.png) center/cover;
    }

    .image-2 {
        background: linear-gradient(218.48deg, rgba(0, 0, 0, 0.24) 43.26%, rgba(12, 12, 12, 0.74) 74.04%),  url(/assets/show-room/room-2.png) center/cover;
    }

    .image-3 {
        background: linear-gradient(218.48deg, rgba(0, 0, 0, 0.24) 43.26%, rgba(12, 12, 12, 0.74) 74.04%),  url(/assets/show-room/room-3.png) center/cover;
    }

    &-groupe {
        display: flex;
        flex-direction: column;
        flex: 20;

        margin: 0 9px;

        &-bold {
            flex: 23;
        }

        .image-1 {
            height: 240px;
            margin-bottom: 20px;
            flex: 2;
        }

        .image-2 {
            margin: 48% 0;
        }

        .image-3 {
            height: 280px;
            flex: 3;
        }
    }
}


.tablet-display {
    .image:not(:last-child) {
        margin-right: 16px;
    }
}

tui-carousel {
    display: flex;

    ::ng-deep .t-items {
        height: 100%;
        width: 100%;

        .t-item {
            padding: 6px;

            height: 80%;
            min-width: 80% !important;
        } 
    }
} 
