@import url(../../shared/colors.less);

:host {
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 0 100px;
    height: 80vh;
    min-height: 500px;
    // background: linear-gradient(263.13deg, #AB47BC 0%, #4A148C 100%);
    background: linear-gradient(180deg, #7A00B4 0%, rgba(70, 1, 124, 0.317708) 59%, rgba(45, 2, 99, 0) 100%);
}

.main-wrapper {
    .title {
    }

    .description {
        margin-top: 24px;
    }

    .button {
        margin-top: 32px;
    }

    .logo {
        color: @color-logo;
    }
}

.main-image {

}