<block-header></block-header>

<div class="sm-container">
    <div *ngIf="item" class="main-wrapper">
        <div class="title sm-font-h1 sm-bold-h" [innerHTML]="item.title">
        </div>
        <div class="description sm-font-p2" [innerHTML]="item.discription">
            <!-- Воплоти свои самые смелые музыкальные мечты в нашей
            <br>
            студии <span class="logo">Space Music</span> -->
        </div>
        <div class="button">
            <button tuiButton size="m">{{item.buttonTitle}}</button>
        </div>
    </div>
</div>
<!-- <div class="sm-container sm-container-image">
    <img class="background"
        src="/assets/main/background-x1.png"
        alt=""
        srcset="/assets/main/background-x1.png 640w, /assets/main/background-x2.png 960w, /assets/main/background-x3.png 1024w">
</div> -->
