@import url(../../shared);

:host {
    display: block;

    @media @mobile {
        background: url("/assets/main/background-x3.png") no-repeat top right / contain;
    }

    @media @tablet {
        background: url("/assets/main/background-x2.png") no-repeat top right / contain, linear-gradient(180deg, #7A00B4 0%, rgba(70, 1, 124, 0.317708) 59%, rgba(45, 2, 99, 0) 100%);
    }

    @media @desktop-line {
        background: url("/assets/main/background-x1.png") no-repeat top right / contain, linear-gradient(180deg, #7A00B4 0%, rgba(70, 1, 124, 0.317708) 59%, rgba(45, 2, 99, 0) 100%);
    }

}

.sm-container {
    display: flex;
    align-items: center;
    justify-content: space-between;

    height: 70vh;
    // margin: -80px 0;
}

.main-wrapper {
    .title {
    }

    .description {
        margin-top: 24px;
    }

    .button {
        margin-top: 32px;
    }

    .logo {
        color: @color-logo;
    }
}

.background {
    position: absolute;
    top: 0;
}
